{% set mediawiki = salt['grains.filter_by']({
  'default': {
    'version': '1.32.0',
    'install_dir': '/var/www/html',
    'config_file': 'LocalSettings.php',
    'config_file_source': 'salt://mediawiki/templates/mediawiki.jinja',
    'git_branch': 'REL1_32',
    'user': 'apache',
    'group': 'root',
  },
}, merge=salt['pillar.get']('mediawiki:lookup'), base='default') %}
